<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LQ_KLine.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>09291E5422B6015B00743237</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09291E6D22B6015C00743237</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09291E7822B6015C00743237</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
